h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(210, 210, 210);
}

*{
    /* font-weight: bolder; */
    /* color: brown; */
    text-shadow: 15px 15px 10px black;
}
